body{
    font-size: 20px;
}
.logo{
    color: brown;
    transition: all 500ms;
}
.logo:hover{
    color: rgba(211, 53, 53, 0.911);
}
h2{
    color: brown;
}
footer a{
    color: brown;
}
.contenedorTarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 15px;
    .tarjeta{
        color: white;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px #242222;
        transition: all 500ms
    }
    .tarjeta:hover{
        transform: scale(1.1);
    }
}

.integrantes{
    color: aliceblue;
    font-size:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.integrantes img{
    padding: 10px 20px;
    height: 100px;
    width: 100px;
}
.formulario{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    font-size: 15px;
    padding: 20px;
    flex-direction: column;
}
.titulo-video{
    color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.cont-video{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    margin: 20px;
}
